<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>MineSweeper</title>
    <style>
        * {
            margin: 2px;
            padding: 2px;
        }

        body {
            height: 140vh;
            background: linear-gradient(#141e30, #243b55);
            color: #03e9f4;
        }

        h2 {
            text-align: center;
            color: aliceblue;
            margin-bottom: 30px;
            font-family: 'Courier New', Courier, monospace;
        }

        .header {
            line-height: 50px;
            display: block;
            float: left;
            margin-left: 25px;
            position: relative;
            padding-bottom: 10px;
            text-align: center;
        }

        button {
            background: transparent;
            border: 0;
            outline: none;
        }

        .btn {
            padding: 10px 20px;
            margin-left: auto;
            color: #03e9f4;
            position: relative;
            overflow: hidden;
            text-transform: uppercase;
            letter-spacing: 2px;
            left: 35%;
        }

        .btn:hover {
            border-radius: 1px;
            color: #fff;
            background: #03e9f4;
            box-shadow: 0 0 5px 0 #03e9f4,
            0 0 25px 0 #03e9f4,
            0 0 50px 0 #03e9f4,
            0 0 100px 0 #03e9f4;
            transition: all 1s linear;
        }

        .btn > span {
            position: absolute;
        }

        .btn > span:nth-child(1) {
            width: 100%;
            height: 1px;
            background: -webkit-linear-gradient(left, transparent, #03e9f4);
            left: -100%;
            top: 0;
            animation: line1 1s linear infinite;
        }

        @keyframes line1 {

            50%,
            100% {
                left: 100%;
            }
        }

        .btn > span:nth-child(2) {
            width: 1px;
            height: 100%;
            background: -webkit-linear-gradient(top, transparent, #03e9f4);
            right: 0;
            top: -100%;
            animation: line2 1s 0.25s linear infinite;
        }

        @keyframes line2 {

            50%,
            100% {
                top: 100%;
            }
        }

        .btn > span:nth-child(3) {
            width: 100%;
            height: 1px;
            background: -webkit-linear-gradient(left, #03e9f4, transparent);
            left: 100%;
            bottom: 0;
            animation: line3 1s 0.75s linear infinite;
        }

        @keyframes line3 {

            50%,
            100% {
                left: -100%;
            }
        }

        .btn > span:nth-child(4) {
            width: 1px;
            height: 100%;
            background: -webkit-linear-gradient(top, transparent, #03e9f4);
            left: 0;
            top: 100%;
            animation: line4 1s 1s linear infinite;
        }

        @keyframes line4 {

            50%,
            100% {
                top: -100%;
            }
        }
    </style>
</head>

<body>
<div class="header" style="display: flex;align-items: center;width:auto;height: auto">
    <h2 style="width: 900px;text-align: center">Online Minesweeper</h2>
    <a style="margin-left: 200px">
        <button class="btn">AI
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </button>
    </a>
    <a href="" target="_blank" id="totalRank" style="margin-left: 20px">
        <button class="btn">Ranks
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </button>
    </a>
</div>
<div style="align-items: center;width:auto;height: auto">
    <canvas id="canvas" width="1756" height="1320" style="
    margin-left: 40px;display: block;"></canvas>
</div>
<script>
    //获取画布变量
    let canv = document.getElementById('canvas');
    let ctx = canv.getContext('2d');
    //默认传输变量
    let DEFAULT_ROW_SIZE = 300;
    let DEFAULT_COL_SZIE = 300;
    let DEFAULT_SEED = 1437;
    let DEFAULT_MOD = 33554393;
    let DEFAULT_PART_SIZE = 16;
    let DEFAULT_PART_MINE_NUM = 48;
    let DEFAULT_DELTA = DEFAULT_SEED;
    let fib1 = 1;
    let fib2 = 2;
    //全部坐标信息
    let g_arr = [];
    let g_obj = {};
    //颜色数据,记录了雷，格子等应用什么颜色
    let g_color = {block: '#60aefd', mine: '#bbb', open: '#ddd', highlight: '#89f'};
    //图标数据，利用字符图标在格子上填充信息
    let mine = ['💣', '🚩', '❔', '💥'];
    //记录雷的数组，记录了所有是雷的坐标
    let mine_arr = [];
    //每个格子的宽度
    let w = 40;
    //圆角矩形的圆角半径
    let r = 10;
    //每个格子之间相隔的距离
    let m = 4;

    function start(row, col, seed, mod, size, mine_num) {
        init(row, col, seed, mod, size, mine_num);
        get_mine();
        setMine();
    }

    function set_from(weight, radius, dis) {
        w = weight;
        r = radius;
        m = dis;
    }

    function init(row, col, seed, mod, size, mine_num) {
        //设置初始化变量
        DEFAULT_ROW_SIZE = row;
        DEFAULT_COL_SZIE = col;
        DEFAULT_SEED = seed;
        DEFAULT_MOD = mod;
        DEFAULT_PART_SIZE = size;
        DEFAULT_PART_MINE_NUM = mine_num;
        DEFAULT_DELTA = seed;
        fib1 = 1;
        fib2 = 2;
        g_arr = [];
        mine_arr = [];

        //循环生成坐标信息，并在canvas中画出
        for (let i = 0; i < DEFAULT_ROW_SIZE; i++) {
            for (let j = 0; j < DEFAULT_COL_SZIE; j++) {
                let xy = j + '-' + i;
                g_arr.push(xy);
                g_obj[xy] = {mark: 0, open: 0, init: 0, time: 9999999999};
                drawBlock(xy, g_color.block);
            }
        }
    }

    function get_mine() {
        //对于每个子块的行列大小
        let currow, curcol;
        //循环的到每个子块左上角的第一个块
        for (let i = 0; i < DEFAULT_ROW_SIZE; i += DEFAULT_PART_SIZE) {
            for (let j = 0; j < DEFAULT_COL_SZIE; j += DEFAULT_PART_SIZE) {
                //判断是否越界，并计算子块的边长
                if (i + DEFAULT_PART_SIZE > DEFAULT_ROW_SIZE)
                    currow = DEFAULT_ROW_SIZE - i;
                else
                    currow = DEFAULT_PART_SIZE;

                if (j + DEFAULT_PART_SIZE > DEFAULT_COL_SZIE)
                    curcol = DEFAULT_COL_SZIE - j;
                else
                    curcol = DEFAULT_PART_SIZE;


                //初始化子块信息
                let cnt = 0;
                let num = currow * curcol * DEFAULT_PART_MINE_NUM;
                num = ~~(num / (DEFAULT_PART_SIZE * DEFAULT_PART_SIZE));
                //生成子块内部雷编号
                for (let k = i; k < i + currow; k++) {
                    for (let l = j; l < j + curcol; l++) {
                        let kl = l + '-' + k;
                        g_obj[kl].init = cnt;
                        cnt++;
                    }
                }

                //利用算法打乱内部顺序
                for (let k = i; k < i + currow; k++) {
                    for (let l = j; l < j + curcol; l++) {
                        let kl = l + '-' + k;
                        get_change(currow, curcol, i, j, kl);
                    }
                }

                //根据打乱的编号找到雷并放入mine_arr
                for (let k = i; k < i + currow; k++) {
                    for (let l = j; l < j + curcol; l++) {
                        let kl = l + '-' + k;
                        if (g_obj[kl].init < num) {
                            mine_arr.push(kl);
                            g_obj[kl].mark = -1;
                        }
                    }
                }
            }
        }
    }

    function get_change(row, col, i, j, kl) {
        //迭代斐波那契数组
        let temp = fib1;
        fib1 = fib2;
        fib2 = (temp + fib2) % DEFAULT_MOD;
        //迭代种子
        while (true) {
            DEFAULT_DELTA = (DEFAULT_DELTA * fib1) % DEFAULT_MOD;
            if (DEFAULT_DELTA > row * col)
                break;
        }
        //生成要交换的坐标
        let y = DEFAULT_DELTA % row;
        temp = DEFAULT_DELTA;
        temp = ~~(temp / row);
        let x = temp % col;
        let xy = `${x + j}-${y + i}`;
        //进行交换
        temp = g_obj[xy].init;
        g_obj[xy].init = g_obj[kl].init;
        g_obj[kl].init = temp;
    }

    function setMine() {
        mine_arr.forEach(n => {
            g_obj[n].mark = -1;
            let around = getAround(n);
            around.forEach(xy => {
                if (g_obj[xy].mark !== -1)
                    g_obj[xy].mark++;
            });
        })
    }

    function showInfo() {
        g_arr.forEach(n => {
            if (g_obj[n].mark === -1) {
                drawBlock(n, g_color.mine);
                markText(n, mine[0]);
            } else {
                markText(n, g_obj[n].mark);
            }
        })
    }

    function markText(xy, txt) {
        let [x, y] = xy.split('-').map(n => n * w);
        ctx.save();
        ctx.font = '15px Arial';
        ctx.fillStyle = '#000000';
        ctx.textAlign = 'center';
        ctx.textBaseline = 'middle';
        ctx.fillText(txt, x + w / 2, y + w / 2);
        ctx.restore();
    }


    function getAround(xy) {
        let [x, y] = xy.split('-').map(n => n * 1);
        let around = [];
        for (let i = -1; i <= 1; i++) {
            for (let j = -1; j <= 1; j++) {
                let id = `${x + j}-${y + i}`;
                if (g_arr.includes(id) && id !== xy)
                    around.push(id);
            }
        }
        return around;
    }

    function drawBlock(xy, c) {
        let [x, y] = xy.split('-').map(n => n * w);
        ctx.save();
        ctx.beginPath();
        ctx.moveTo(x, y + r);
        ctx.arcTo(x, y + w - m, x + w - m, y + w - m, r);
        ctx.arcTo(x + w - m, y + w - m, x + w - m, y, r);
        ctx.arcTo(x + w - m, y, x, y, r);
        ctx.arcTo(x, y, x, y + w - m, r);
        ctx.fillStyle = c;
        ctx.fill();
        ctx.restore();
    }

    //为画布增加监听事件
    canv.addEventListener('click', openBlock);
    //为画布增加右键点击菜单事件
    canv.addEventListener("contextmenu", markFlag);

    function openBlock(ev) {
        //获得 x与y坐标
        let x = ~~(ev.offsetX / w);
        let y = ~~(ev.offsetY / w);
        let xy = x + '-' + y;
        //点击时关闭菜单页面
        //closeMenu();
        //点击一次时先将格子打开之后再复颜色
        if (g_arr.includes(xy) && g_obj[xy].open === 0)
            sendmessage(xy);
        if (g_obj[xy].mark === 0 && g_obj[xy].open === 0) {
            g_obj[xy].open = 1;
            markText(xy, g_obj[xy].mark);
            dfszero(xy);
        } else if (g_obj[xy].mark === -1 && g_obj[xy].open === 0) {
            g_obj[xy].open = 1;
            markText(xy, mine[0]);
        } else if (g_obj[xy].open === 0) {
            g_obj[xy].open = 1;
            markText(xy, g_obj[xy].mark);
            dfsunzero(xy);
        }
        console.log(x, y);
    }

    function markFlag(ev) {
        ev.preventDefault();
        //获得 x与y坐标
        let x = ~~(ev.offsetX / w);
        let y = ~~(ev.offsetY / w);
        let xy = x + '-' + y;
        if (g_obj[xy].open === 0)
            markText(xy, mine[1]);
        return false;
    }

    function dfszero(xy) {
        let around = getAround(xy);
        around.forEach(n => {
            if (g_obj[n].open === 0) {
                g_obj[n].open = 1;
                markText(n, g_obj[n].mark);
                if (g_obj[n].mark === 0)
                    dfszero(n);
            }
        })
    }

    function dfsunzero(xy) {
        let around = getAround(xy);
        around.forEach(n => {
            if (g_obj[n].open === 0 && g_obj[n].mark === 0) {
                g_obj[n].open = 1;
                markText(n, g_obj[n].mark);
                dfszero(n);
            }
        })
    }

    function dfs_color_zero(xy, revcolor, timmer) {
        let around = getAround(xy);
        around.forEach(n => {
            if (g_obj[n].time > timmer) {
                g_obj[n].time = timmer;
                drawBlock(n, revcolor);
                markText(n, g_obj[n].mark);
                if (g_obj[n].mark === 0)
                    dfs_color_zero(n, revcolor, timmer);
            }
        })
    }

    function dfs_color_unzero(xy, revcolor, timmer) {
        let around = getAround(xy);
        around.forEach(n => {
            if (g_obj[n].time > timmer && g_obj[n].mark === 0) {
                g_obj[n].time = timmer;
                drawBlock(n, revcolor);
                markText(n, g_obj[n].mark);
                dfs_color_zero(n, revcolor, timmer);
            }
        })
    }

    function dfshistoryzero(xy, revcolor, timmer) {
        let around = getAround(xy);
        around.forEach(n => {
            if (g_obj[n].open === 0) {
                g_obj[n].open = 1;
                g_obj[n].time = timmer;
                drawBlock(n, revcolor);
                markText(n, g_obj[n].mark);
                if (g_obj[n].mark === 0)
                    dfshistoryzero(n, revcolor, timmer);
            }
        })
    }

    function dfshistoryunzero(xy, revcolor, timmer) {
        let around = getAround(xy);
        around.forEach(n => {
            if (g_obj[n].open === 0 && g_obj[n].mark === 0) {
                g_obj[n].open = 1;
                g_obj[n].time = timmer;
                drawBlock(n, revcolor);
                markText(n, g_obj[n].mark);
                dfshistoryzero(n, revcolor, timmer);
            }
        })
    }

    function dfshistory(xy, revcolor, timmer) {
        if (g_obj[xy].mark === 0) {
            drawBlock(xy, revcolor);
            markText(xy, g_obj[xy].mark);
            dfshistoryzero(xy, revcolor, timmer);
        } else if (g_obj[xy].mark === -1) {
            drawBlock(xy, revcolor);
            markText(xy, mine[0]);
        } else {
            drawBlock(xy, revcolor);
            markText(xy, g_obj[xy].mark);
            dfshistoryunzero(xy, revcolor, timmer);
        }
    }

    function closeMenu() {
        let contextmenu = document.getElementById("context");
        contextmenu.style.display = "none";
    }


</script>

<script src={{ url_for('static', filename='socket.io.js' ) }}></script>

<script>
    //接受登陆界面cookie
    let this_cookie = decodeURI(document.URL);
    this_cookie = this_cookie.slice(this_cookie.indexOf("=") + 1);
    socket = io.connect('ws://' + document.domain + ':' + location.port + '/minesweeper', {
        reconnectionDelayMax: 10000,
        query: {
            "cookie": this_cookie
        }
    });

    //设置总榜页面地址并送出用户名数据作为鉴别
    let totalRankLink = '/ranks?uname=' + this_cookie;
    document.getElementById("totalRank").href = totalRankLink;

    socket.on("connect", (revconnect) => {
    })

    rev_seed()

    function rev_seed() {
        socket.on("args", (seedmsg) => {//用于接收服务器发送客服端
            let seed = JSON.parse(seedmsg);
            let new_row = seed.row;
            let new_col = seed.col;
            let new_partsize = seed.partsize;
            let new_mine = seed.mine;
            let new_mod = seed.mod;
            let new_seed = seed.seed;
            console.log(seed);
            start(new_row, new_col, new_seed, new_mod, new_partsize, new_mine);
            //showInfo();
        })
    }

    //接受来自服务器的历史数据信息，用于同步新用户信息
    socket.on("history", (revhistory) => {
        console.log(revhistory);
        let obj = [];
        obj = JSON.parse(revhistory);
        let rows = obj.length
        for (let i = 0; i < rows; i++) {
            console.log(obj[i][0])
            console.log(obj[i][1])
            console.log(obj[i][2])
            let xy = `${obj[i][1]}-${obj[i][0]}`;
            dfshistory(xy, obj[i][2], i + 1);
        }
    })

    //用于接收服务器发送客服端
    socket.on("rank_rev", (revrank) => {
        let rev_rank = JSON.parse(revrank);
        let tbody = document.querySelector('tbody');
        let child = tbody.childNodes;
        for (let i = child.length - 1; i >= 0; i--) {
            tbody.removeChild(child[i]);
        }
        //创建用户信息数组
        let datas = [];
        let sortdata = [];
        let index = [];
        let j = 0;
        //根据key值提出json字典中的值
        for (let key in rev_rank) {
            datas[j] = {
                name: rev_rank[key].username,
                boom: rev_rank[key].boom,
                color: rev_rank[key].color,
                score: rev_rank[key].score,
                SCORE: 0
            };
            j++;
        }
        //计算每个用户的kda
        for (let i = 0; i < datas.length; i++) {
            if (datas[i].boom === 0) datas[i].SCORE = datas[i].score
            else datas[i].SCORE = datas[i].score / datas[i].boom
            sortdata[i] = datas[i].SCORE;
            index[i] = [i];
        }
        //根据用户的kda进行排序
        for (let m = 0; m < sortdata.length; m++) {
            for (let n = 0; n < sortdata.length; n++) {
                if (m !== n && sortdata[n] < sortdata[m]) {
                    let tmp = sortdata[n];
                    sortdata[n] = sortdata[m];
                    sortdata[m] = tmp;
                    let tmp_index = index[n];
                    index[n] = index[m];
                    index[m] = tmp_index;
                }
            }
        }
        //使用动态建表生成排行榜
        for (let i = 0; i < datas.length; i++) {
            let tr = document.createElement('tr');
            tbody.appendChild(tr);
            let cur_color = datas[index[i]].color;
            console.log(cur_color);
            for (let k in datas[index[i]]) {
                if (k === "color")
                    continue;
                let td = document.createElement('td');
                if (k === "SCORE") {
                    td.innerHTML = datas[index[i]][k].toFixed(2);
                    tr.appendChild(td);
                    tr.style.background = cur_color;
                    continue
                }
                td.innerHTML = datas[index[i]][k];
                tr.appendChild(td);
                tr.style.background = cur_color;
            }
        }
    })

    function sendmessage(xy) {
        let [x, y] = xy.split('-').map(n => n * 1);
        let send_xy = JSON.stringify({"x": y, "y": x, "cookie": this_cookie})
        socket.emit('click', send_xy)
    }

    //用于接受服务器一局游戏结束时发来的消息，用文字告知用户结果
    socket.on("game end", (revend) => {
        let end_msg = JSON.parse(revend);
        let end_str = "";
        let datas = [];
        let sortdata = [];
        let index = [];
        let j = 0;
        for (let key in end_msg) {
            datas[j] = {
                name: end_msg[key].username,
                boom: end_msg[key].boom,
                color: end_msg[key].color,
                score: end_msg[key].score,
                SCORE: 0
            };
            j++;
        }
        for (let i = 0; i < datas.length; i++) {
            if (datas[i].boom === 0) datas[i].SCORE = datas[i].score
            else datas[i].SCORE = datas[i].score / datas[i].boom
            sortdata[i] = datas[i].SCORE;
            index[i] = [i];
        }
        for (let m = 0; m < sortdata.length; m++) {
            for (let n = 0; n < sortdata.length; n++) {
                if (m !== n && sortdata[n] < sortdata[m]) {
                    let tmp = sortdata[n];
                    sortdata[n] = sortdata[m];
                    sortdata[m] = tmp;
                    let tmp_index = index[n];
                    index[n] = index[m];
                    index[m] = tmp_index;
                }
            }
        }
        for (let i = 0; i < datas.length; i++) {

            end_str += "user：" + datas[index[i]].name + " ";
            end_str += "bombs：" + datas[index[i]].boom + " ";
            end_str += "blocks：" + datas[index[i]].score + " ";
            end_str += "SCORES" + datas[index[i]].SCORE + " ";
            end_str += "\n"

        }
        alert("本局游戏结束！\n" + end_str);
    });


    //用于接受服务器的广播消息，即当有用户点击时，更新所有用户的界面
    socket.on("broadcast", (revbroad) => {
        let msg = JSON.parse(revbroad);
        let revx = msg.y;
        let revy = msg.x;
        let revcolor = msg.color;
        let revtimmer = msg.timmer;
        let xy = `${revx}-${revy}`;
        console.log(msg);
        //首先将格子打开
        if (g_obj[xy].mark === 0 && g_obj[xy].open === 0) {
            g_obj[xy].open = 1;
            markText(xy, g_obj[xy].mark);
            dfszero(xy);
        } else if (g_obj[xy].mark === -1 && g_obj[xy].open === 0) {
            g_obj[xy].open = 1;
            markText(xy, mine[0]);
        } else if (g_obj[xy].open === 0) {
            g_obj[xy].open = 1;
            markText(xy, g_obj[xy].mark);
            dfsunzero(xy);
        }
        //之后将格子上色
        if (g_obj[xy].mark === 0 && g_obj[xy].time > revtimmer) {
            g_obj[xy].time = revtimmer;
            drawBlock(xy, revcolor);
            markText(xy, g_obj[xy].mark);
            dfs_color_zero(xy, revcolor, revtimmer);
        } else if (g_obj[xy].mark === -1 && g_obj[xy].time > revtimmer) {
            g_obj[xy].time = revtimmer;
            drawBlock(xy, revcolor);
            markText(xy, mine[0]);
        } else if (g_obj[xy].time > revtimmer) {
            g_obj[xy].time = revtimmer;
            drawBlock(xy, revcolor);
            markText(xy, g_obj[xy].mark);
            dfs_color_unzero(xy, revcolor, revtimmer);
        }
    })

</script>


</body>

</html>